<div class="card w-100 mt-3">
  <div class="card-body">
    <h3 class="card-title">Comments</h3>
    <div>
      <app-single-comment *ngFor="let comment of comments" [comment]="comment"></app-single-comment>
    </div>
    <ng-container *ngIf="isUserLogged; else elseBlock">
      <app-add-comment (commentAdded)="onNewCommentAdded()"></app-add-comment>
    </ng-container>
    <ng-template #elseBlock>
      <div class="mt-3">
        Login first to add comment!
        <button type="button" class="btn btn-primary btn-sm" (click)="goToLogin()">Log In</button>
      </div>
    </ng-template>

  </div>
</div>